#mainbox{
  width: 650px;
  height: 650px;
  background-color: white;
  position: absolute;
}

/*Inizio layout prima linea di prodotti*/
.sconto-trenta{
  color: black;
  font-size: 12px;
  font-family: verdana;
  width: 40px;
  height: 15px;
  background-color: rgb(26, 235, 53);
  position: absolute;
  left: 160px;
  top: -10px;
}

.sconto-cinque{
  color: black;
  font-size: 12px;
  font-family: verdana;
  width: 30px;
  height: 15px;
  background-color: red;
  position: absolute;
  left: 170px;
  top: -10px;
}

.boxipad{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: absolute;
  top: 10px;
  left: 15px;
}

.ipad-image{
  width: 190px;
  top: 30px;
  left: 5px;
  position: absolute;
}

.boxiphone{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: absolute;
  top: 10px;
  left: 225px;
  display: inline-block;
}

.iphone-image{
  width: 190px;
  top: 30px;
  left: 5px;
  position: relative;
  display: inline-block;
}

.boxheadphone{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-block;
}

.headphone-image{
  width: 190px;
  top: 30px;
  left: 5px;
  position: relative;
  display: inline-block;
}
/*Fine layout prima linea di prodotti*/

/*Inizio layout seconda linea di prodotti*/
.boxipad2{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: relative;
  top: 340px;
  left: 15px;
}

.ipad-image2{
  width: 190px;
  top: 30px;
  left: 5px;
  position: absolute;
}

.boxiphone2{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: absolute;
  top: 340px;
  left: 225px;
  display: inline-block;
}

.iphone-image2{
  width: 190px;
  top: 30px;
  left: 5px;
  position: relative;
  display: inline-block;
}

.boxheadphone2{
  width: 200px;
  height: 300px;
  background-color: rgb(227, 227, 227);
  position: absolute;
  top: 340px;
  right: 15px;
  display: inline-block;
}

.headphone-image2{
  width: 190px;
  top: 30px;
  left: 5px;
  position: relative;
  display: inline-block;
}
/*Fine layout seconda linea di prodotti*/
